body {
    background-color: #212529;
    font-family: sans-serif;
    color: rgb(222, 222, 222);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2c3034;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #049560;
    text-align: center;
}

h2 {
    color: #049560;
    margin-top: 20px;
}

p {
    line-height: 1.6;
    text-align: center;
}

li {
    margin-bottom: 10px;
}

.features, .how-it-used, .other-models {
    margin-bottom: 30px;
}

.features ul, .how-it-used ul, .other-models ul {
    background-color: #343a40;
    padding: 15px 15px 15px 25px;
    border-radius: 5px;
    border: 1px solid #495057;
}