{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form</title>
  <link rel="stylesheet" href="{% static 'css/register.css' %}">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}">
</head>

<body>
  <div class="nav">
    <div class="nav-links">
        <a href="{% url 'home' %}"  >Home</a>
        <a href="{% url 'converseAI' %}" >ConverseAI</a>
        <a href="{% url 'contact' %}">Contact</a>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %} 
    </div>
    
    {% if user.is_authenticated %}
        <div class="user_name">
            <a hrerf="{% url 'details' %}">User: {{user}}</a>
        </div>
    {% else %}
        <div class="user_name">
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'signup' %}" class="active">Signup</a>
        </div>
    {% endif %}   
</div>
  <div class="form-division">
    <h2>Registration Details</h2>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p}}
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>
</body>

</html>